/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 /* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 18px;
  height: 18px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
 .widget-body-container{
 	background: #fff;
    padding: 10px 0px;
    border-radius: 5px;
 }
 .widget-image-container{
 	overflow: hidden;
 	display: block;
 	width: 100%;
 	height: 100px;
    position: relative;
 }
 .overlay-content{
    position: absolute;
    color: #fff;
    bottom:1%;
    left: 6%;
    font-size: 16px;
    width: auto;
    height: auto;
    /* background-color: rgba(36, 36, 36, 0.4); */
    transition: all .33s ease-in-out;
    font-weight: bolder;
    text-transform: uppercase;
    z-index: 1000;
 }
 .overlay-content-top{
       position: absolute;
    top: 0%;
    left: 6%;
    font-size: 14px;
    width: auto;
    height: auto;
    background-color: #fff;
    transition: all .33s ease-in-out;
    font-weight: lighter;
    text-transform: capitalize;
    z-index: 1000;
    margin-top: 0px;
    padding-left: 5px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 0px;
 }
 .dreming-overlay{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    width: auto;
    height: auto;
    background-color:rgba(0, 0, 0, 0.4);
    transition: all .33s ease-in-out;
 }

 .widget-img{
 	object-fit: cover;
 	height: 100% !important;
 	width: 100%;
 }
 .widget-title-continer{
 	
 	vertical-align: middle;
    text-transform: capitalize;
    transition: color .37s ease;
    position: relative;
 }
 .widget-title-alignment{
    text-align: center;padding-top: 5px;
 }
 .widget-container{
 	padding-top: 15px;
    padding-bottom: 5px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    
 }
 .widget-container:last-child{
 	border-bottom:none;
 }
 .widget-anchor{
 	color: #494949;
 	text-transform: capitalize;
 	text-decoration: none;
 	text-shadow: none;
 	outline: none;
 	font-weight: 900;
    transition: color .30s ease;

 }

 .widget-anchor:hover{
 	color: #40d9f1 !important;
 	text-decoration: none !important;
 	transition: color .30s ease;
 }
 .widget-time{
 	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
 	font-size: 14px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    color: #9a9a9a;
    display: block;
 }
 .comment-color {
   min-width: 22px;
    display: inline-block;
    min-height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    color: #fff;
    background: #40d9f1;
    text-align: center
}

.have-post{
    color: #fff;
    background: #40d9f1;
    cursor: pointer;
}
.have-post:hover{
    color: #fff ;
    background: #494949;
    transition: color .30s ease;
}
#cp-calendar{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif; 
    color: #494949;
}
#cp-calendar tr td{
    font-weight: 600;
}
.widget-left-date{
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background: #40d9f1;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
}
.widget-left-date span{
    display: block;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
}
.wb-map-cntainer{
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: 1px solid #e2e2e2;
    padding: 5px;
    border-radius: 5px;
}